p {
  text-align: center;
}

input {
  padding: 8px 12px;
  margin: auto;
  display: block;
  width: 195px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
}

button {
  padding: 8px 12px;
  margin: 12px auto 0;
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 8px;
  margin-top: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 44px;
  text-shadow: 1px 1px 2px darkseagreen;
  padding: 0 8px;
  border: 3px solid indianred;
  border-radius: 12px;
}

.label {
  font-size: 14px;
  font-weight: 700;
  color: indianred;
}

.form {
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.form > button {
  margin: 0;
}
